form {
    height: 100vh;
    .join,
    .saber {
        background: $baseBackgroundColor;
        color: $primeryColor;
        text-align: center;
        margin: 0;
        padding: 7%;
        border: none;
        border-bottom: 1px solid $primeryColor;
        p,
        label {
            font-size: 3rem;
            color: $primeryColor;
            margin-top: 0;
        }
        label {
            margin-right: 30px;
        }
    }
    .saber {
        position: relative;
        border: none;
        .blueSaber {
            position: absolute;
            top: 56%;
            left: 40%;
        }
        .redSaber {
            position: absolute;
            top: 56%;
            left: 56%;
        }
    }
    input[type=radio] {
        margin-right: 10px;
    }   
    .submit {
        padding: 60px 0;
        text-align: center;
    }
    input[type=submit] {
        background: $primeryColor;
        padding: 10px 20px;
        border: none;
        border: 1px solid transparent;
        transition: 0.25s;
        transition-delay: 0.1s;
    }
    input[type=submit]:hover, 
    input[type=submit]:focus {
        background: $baseBackgroundColor;
        border: 1px solid $primeryColor;
        color: $primeryColor;
    }   
}