form {
    min-height: 95vh;
    .join,
    .saber {
        background: $baseBackgroundColor;
        color: $primeryColor;
        text-align: center;
        margin: 0;
        padding: 150px 10px;
        border: none;
        border-bottom: 1px solid $primeryColor;
        p,
        label {
            font-size: 3rem;
            color: $primeryColor;
        }
    }
    .join {
        .joinContainer {
            display: flex;
            justify-content: center;
            .jediSide,
            .rebelSide {
                display: flex;
                align-items: center;
            }
            label:nth-child(2) {
                margin-right: 30px;
            }
        }
    }
    .saber {
        border: none;
        .saberContainer {
            display: flex;
            justify-content: center;
            .blueSide,
            .redSide {
                display: flex;
                align-items: center;
            }
            .blueSide > label:nth-child(3) {
                margin-right: 30px;
            }
        }
    }
    input[type=radio] {
        margin-right: 10px;
    }
    .submit {
        padding: 60px 0;
        font-size: 1.8rem;
        text-align: center;
    }
    input[type=submit] {
        background: $primeryColor;
        padding: 10px 20px;
        border: none;
        border: 1px solid transparent;
        transition: 0.35s;
        transition-delay: 0.15s;
    }
    input[type=submit]:hover, 
    input[type=submit]:focus {
        background: $baseBackgroundColor;
        border: 1px solid $primeryColor;
        color: $primeryColor;
    }
}

// Alert pop up styles
#swal2-title > strong:nth-child(1) {
    font-size: 3rem;
}

#swal2-content {
    font-size: 1.8rem;
}

.swal2-popup {
    width: 50%;
}
.swal2-confirm {
    font-size: 1.6rem;
}
