// Yoda Wisdom Global Styles Starts Here

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    cursor: url(../assets/mouseLightSaber.png), auto;
}

body {
    margin: 0 auto;
    background-color: $baseBackgroundColor;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-family: "StarWars";
    font-size: 9rem;
    color: $primeryColor;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    line-height: 1.6;
    margin: 0;
}

// Form Submit Styles Start 
input[type=submit] {
    font-family: "StarWars";
    font-size: 1.8rem;
    letter-spacing: 3px;
}

p,
label,
input {
    font-family: 'Kanit', sans-serif;
}

/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $secondaryBackgroundColor;
  color: black;
}

.skipLink:focus {
  left: 0;
}
/* - */

