header {
    background-image: url(../assets/starWarsBackgrounds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    min-height: 95vh;
}
  
.hero {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    img {
        width: 31%; 
        padding-top: 5%;

        // Image Animmation
        animation-duration: 5s;
    }
    .titleContainer {
        display: flex;
        align-items: center;
        overflow: hidden;
        transform: rotateX(40deg);
        width: 69%;
        .heroTitle {
            width: 100%;
            display: inline-block;
            margin: 0;
        }
    }
    //Style the Arrow Down Starts Here
    .arrowContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10%;
        .first,
        .second,
        p {
            color: $primeryColor;
        }
        .first {
            font-size: 3.8rem;
        }
        .second {
            font-size: 4.5rem;
            margin-top: -28px;
        }
        a {
            text-decoration: none;
            color: $primeryColor;
        }
        p {
            font-size: 1.8rem;
            margin-top: 0;
        }
    }
    //Style the Arrow Down Ends Here
}

// Hero Img Animation Starts Here
@-webkit-keyframes slideInLeft {
  from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
// Hero Img Animation Ends Here

// Animation styles start for the .hereTitle
@-webkit-keyframes slideInUp {
  from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
//Animation styles ends for the .heroTitle
