header {
    background-image: url(../assets/starWarsBackgrounds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
    a {
        position: relative;
        .fa-info-circle {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 3.5rem;
            color: $primeryColor;
        }
    }
    .hero {
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
        padding-top: 100px;
        img {
            width: 50%; 
            padding-right: 50px;
            // Image Animmation
            animation-duration: 5s;
        }
        .titleContainer {
            display: flex;
            align-items: center;
            overflow: hidden;
            width: 50%;
            transform: rotateX(40deg);
            .heroTitle {
                display: inline-block;
                width: 100%;
                margin: 0;
            }
        }
        //Style the arrow down
        .arrows {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 50px;
            position: relative;
            .first {
                font-size: 3.5rem;
                color: $primeryColor;
                position: absolute;
                top: 1%;
            }
            i {
                font-size: 4.5rem;
                color: $primeryColor;
                position: absolute;
                top: 10%;
            }
            //Styles end here
            p {
                font-size: 1.8rem;
                font-style: italic;
                color: $primeryColor;
                margin-top: 45px;
            }
        }
    }
    // Hero Img Animation Starts Here
    @-webkit-keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
    
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
    
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }
    // Hero Img Animation Ends Here
    
    // Animation styles start for the .hereTitle
    @-webkit-keyframes slideInUp {
        from {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }
    
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes slideInUp {
        from {
            -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
            visibility: visible;
        }
    
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
    }
    //Animation styles ends for the .heroTitle
}

