// Responsive Design Starts Bellow
@include mqLaptopHD {
    header {
        .hero {
            img {
                width: 40%;
            }
        }
    }
    form {
        .join,
        .saber {
            padding: 80px 10px;
        }
    }
}

@include mqTabletLand {
    header {
        .hero {
            img {
                width: 50%;
            }
            .titleContainer {
                .heroTitle {
                    font-size: 5rem;
                }
            }
        }
    }
    .wisdom {
        img {
            width: 80%;
        }
        .quote {
            width: 400px;
        }
    }   
}

@include mqTabletVert {
    header {
        .hero {
            padding-top: 220px;
            img {
                padding-right: 20px;
            }
            .arrows {
                margin-top: 200px;
            }
        }
    }
    form {
        .join,
        .saber {
            padding: 130px 10px;
        }
    }
    .wisdom {
        flex-direction: column-reverse;
        align-items: center;
        img {
            padding-top: 10%;
            width: 100%;
        }
        .quote {
            width: 350px;
        }
    }  
    footer {
        .footerContainer p {
            font-size: 1.5rem;
        }
    } 
}

@media (max-width: 670px) {
    header {
        .hero {
            padding-top: 270px;
            img {
                padding-right: 10px;
            }
            .titleContainer {
                .heroTitle {
                    font-size: 4.5rem;
                }
            }
        }
    }
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }
}

@include mqMobile {
    header {
        .hero {
            img {
                width: 40%;
            }
            .titleContainer {
                .heroTitle {
                    font-size: 3.5rem;
                }
            }
        }
    }
    form {
        .join, 
        .saber {
            padding: 100px 10px;
            p {
                font-size: 2.4rem;
            }
            label {
                font-size: 2rem;
            }
        }
        .submit {
            font-size: 1.5rem;
        }
    }
} 

@include mqMobilePlus {
    header {
        .hero {
            padding-top: 30px;
            justify-content: center;
            img {
                width: 70%;
                height: 50%;
            }
            .titleContainer {
                width: 100%;
                .heroTitle {
                    font-size: 4rem;
                }
            }
            .arrows {
                margin-top: 115px;
            }
        }
    }
    .wisdom {
        .quote {
            width: 320px;
        }
    }  
    .swal2-popup {
        width: 95%;
    }
}

@include mqMobileX {
    header {
        .hero {
            .titleContainer {
                .heroTitle {
                    font-size: 3.5rem;
                }
            }
            .arrows {
                margin-top: 90px;
            }
        }
    }
    form {
        .join,
        .saber {
            padding: 55px 10px;
        }
    }
    .wisdom {
        .quote {
            width: 300px;
        }
    }  
    .footerContainer p {
        text-align: center;
    }
    .swal2-popup {
        width: 95%;
    }
}

@include mqMobileSE {
    header {
        .hero {
            justify-content: center;
            img {
                width: 70%;
                padding-right: 0;
            }
            .titleContainer {
                .heroTitle {
                    font-size: 3rem;
                }
            }
            .arrows {
                margin-top: 50px;
                .first {
                    font-size: 2.8rem;
                }
                i {
                    font-size: 3.8rem;
                }
                a {
                    font-size: 1.6rem;
                }
            }
        }
    }
    form {
        .join,
        .saber {
            padding: 45px 10px;
        }
        .join {
            .joinContainer {
               label {
                   font-size: 1.8rem;
                   &:nth-child(2) {
                       margin-right: 18px;
                   }
               }
            }
        }
        .submit {
            input[type=submit] {
                font-size: 1.4rem;
                padding: 8px 5px;
            }
        }
    }
    .wisdom {
        .quote {
            width: 255px;
        }
    }
    .swal2-popup {
        width: 95%;
    }
}
// Responsive Ends Here