// Responsive Design Starts Bellow

@include mqTabletLand {
    header {
        min-height: 90vh;
        .hero  {
            .heroTitle {
                font-size: 6.5rem;
            }
            .arrowContainer {
                margin-top: 25%;
            }
        }
    }
    form {
        .join,
        .saber {
            padding: 9%;
        }
        .saber {
            .blueSaber {
                top: 56%;
                left: 35%;
            }
            .redSaber {
                top: 56%;
                left: 59%;
            }
        }
    }
    .wisdom {
        img {
            width: 95%;
        }
        .quote {
            width: 400px;
        }
    }   
}

@include mqTabletVert {
    header {
        min-height: 40vh;
        .hero {
            .heroTitle {
                font-size: 5.3rem;
            }
        } 
    }
    form {
        .saber {
            .blueSaber {
                left: 30%;
            }
            .redSaber {
                left: 62%;
            }
        }
    }
    .wisdom {
        height: 20vh;
        flex-direction: column-reverse;
        align-items: center;
        img {
            padding: 20% 0;
            width: 100%;
        }
        .quote {
            width: 100%;
        }
    }  
    footer {
        .footerContainer p {
            font-size: 1.5rem;
        }
    } 
}

@media (max-width: 670px) {
    header {
        min-height: 35vh;
        .hero {
            .heroTitle {
                font-size: 4.5rem;
            }
        } 
    }
    form {
        .saber {
            .blueSaber {
                top: 63%;
                left: 27%;
            }
            .redSaber {
                top: 63%;
                left: 64%;
            }
        }
    }
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }
}

@include mqMobile {
    header {
        min-height: 30vh;
        .hero {
            p {
                font-size: 1.5rem;
            }
            .heroTitle {
                font-size: 3rem;
            }
            .arrowContainer {
                .first {
                    font-size: 2.4rem;
                }
                .second {
                    font-size: 3.2rem;
                    margin-top: -18px;
                }
            }
        }
    }
    form {
        .join, 
        .saber {
            margin: 1px;
            p {
                font-size: 2.4rem;
            }
            label {
                font-size: 2rem;
            }
        } 
        .saber {
            .blueSaber {
                left: 23%;
            }
            .redSaber {
                left: 64%;
            }
        }
        .submit {
            font-size: 1.5rem;
        }
    }
} 

@include mqMobilePlus {
    header {
        min-height: 32vh;
        .hero {
            .heroTitle {
                font-size: 2.5rem;
            }
            .arrowContainer {
                .first {
                    font-size: 2rem;
                }
                .second {
                    font-size: 2.8rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    form {
        .join label, 
        .saber label {
            margin-right: 5px;
        }
        .saber {
            .blueSaber {
                left: 25%;
            }
            .redSaber {
                left: 66%;
            }
        }
    }
    .wisdom {
        min-height: 45vh;
    }
}

@include mqMobileX {
    header {
        min-height: 35vh;
        .hero {
            .heroTitle {
                font-size: 2.2rem;
            }
        }
    }
    form {
        height: 75vh;
        .join,
        .saber {
            padding: 15% 0;
            i {
                font-size: 1.6rem;
            }
            label {
                margin-right: 20px;
            }
        }
        .saber {
            .blueSaber {
                left: 18%;
            }
            .redSaber {
                left: 68%;
            }
        }
        input[type=submit] {
            letter-spacing: 1px;
        }
    }
    .wisdom {
        min-height: 75vh;
    }
    .footerContainer p {
        text-align: center;
    }
}

@include mqMobileSE {
    header {
        .hero {
            .heroTitle {
                font-size: 2rem;
            }
        }
    }
    form {
        .join {
            display: flex;
            flex-direction: column;
            label:nth-child(3) {
                padding-bottom: 5%;
            }
        }
        .saber {
            .blueSaber {
                left: 11%;
            }
            .redSaber {
                left: 73%;
            }
        }
        input[type=submit] {
            padding: 8px 0px;
        }
    }
    .wisdom {
        min-height: 125vh;
    }  
}