// Font Colors
$primeryColor: #fee91c;

// Background Color
$baseBackgroundColor: #000;

// Fonts

// Local Font
@font-face {
    font-family: "StarWars";
    src: url(../Font/starWarsFont.ttf) format("truetype");
}
// Secondary Font
$secondaryFont: 'Kanit', sans-serif;
